.bookcontainer {
  margin-top: 100px;
}

.book {
  float: left;
  width: 30%;
  height: 300px;
  object-fit: contain;;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.book img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
